{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='home_styles.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light text-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><img src="logo.png" alt="AutoValue"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/predict-price">Predict Price</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/home/car-blogs">Car Blogs</a>
                </li>

            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/profile">My Profile</a>
                    </li>

                </ul>
            </form>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
<div id="bannerContainer">
    <div id="carouselExample" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../static/main_car_2.jpeg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../static/main_car_1.jpg" alt="Second slide" height="980px">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../static/main_car_3.webp" alt="Third slide">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        
    </div>

    <div class="content">
        <div class="d-flex container-fluid justify-content-center align-items-center rounded-3">

            <div class="container-fluid text-white">
                <div class="row justify-content-center custom-text">
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <h2>All the cars. One search.</h2>
                    </div>
                </div>
                <div class="row justify-content-center custom-text">
                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <h4>Browse listings from all the major used car sites including:</h4>
                    </div>

                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col d-flex justify-content-center">
                        <img src="../static/cars24logo.webp" alt="Cars24" height="39px" width="80px" class="me-5">
                        <img src="../static/olxlogo-removebg-preview.png" alt="OLX" height="45px" width="66px"
                            class="me-5">
                        <img src="../static/spinnylogo-removebg-preview.png" alt="Spinny" height="45px" width="144px">
                    </div>

                </div>
                <form action="/home/get-car-listings" method="POST">
                    <div class="row mt-5 justify-content-center">
                        <div class="col-md-4 col-12">
                            <label for="select-make" class="form-label">Company</label>
                            <select class="form-select" id="select-make" name="select-make"
                                aria-label="Default select example" onchange="loadCarModels(this.id,'select-model')">
                                <option>Select Car Company</option>
                                {% for company in companies %}
                                <option value="{{ company }}">{{ company }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4 col-12">
                            <label for="select-model" class="form-label">Model</label>
                            <select class="form-select" id="select-model" name="select-model"
                                aria-label="Default select example">
                                <option>Select Car Model</option>
                            </select>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-12">
                            <label for="kmsdriven" class="form-label">Kilometers Driven</label>
                            <input type="number" class="form-control" id="kms-driven" name="kms-driven"
                                placeholder="Enter Kilometers Driven" value="0">
                        </div>
                        <div class="col-md-4 col-12">
                            <label for="select-location" class="form-label">Location</label>
                            <select class="form-select" id="select-location" name="select-location"
                                aria-label="Default select example">
                                <option>Select Car Location</option>
                                {% for location in locations %}
                                <option value="{{ location }}">{{ location }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-12">
                            <label for="year" class="form-label">Year</label>
                            <input type="number" class="form-control" id="year" name="year" placeholder="Enter Year" value="2010">
                        </div>
                        <div class="col-md-4 col-12">
                            <label for="select-fuel-type" class="form-label">Fuel Type</label>
                            <select class="form-select" id="select-fuel-type" name="select-fuel-type"
                                aria-placeholder="Select Fuel Type">
                                <option>Select Fuel Type</option>
                                {% for type in fuel_types %}
                                <option value="{{ type }}">{{ type }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary mt-3">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="secondContainer">
    <div class="d-flex container-fluid justify-content-center align-items-center mt-5 rounded-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <!-- d-flex is imp -->
                <div class="col-12 col-md-6 d-flex justify-content-center text-center">
                    <h1>How AutoValue Works</h1>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-12 col-md-6 d-flex justify-content-center text-center">
                    <p>We aggregate multiple listings from different used car selling websites, showing all the results
                        for
                        your
                        search from each of the listings' websites. Our goal is to capture all the results in single
                        search,
                        to
                        save you time and help you find your ideal next car. </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-4 text-center">
                    <div class="mx-auto" id="img-1"><img src="../static/sec-1.png" alt="Image 1"
                        height="auto" width="50 vw"></div>
                    <h4>Just the Cars You Want</h4>
                    <p>AutoValue supports extensive search filtering. Cast
                        your net locally or across the country. </p>

                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="mx-auto" id="img-2"><img src="../static/sec-2.png" alt="Image 2"
                            height="700px" width="380px"></div>
                    <h4>Browse Results</h4>
                    <p>AutoValue provides hundreds of listings from a variety of sources. Browse them by source, or
                        all in a
                        single list, with all the sorting options you'd expect. </p>

                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="mx-auto" id="img-3"><img src="../static/sec-3.png" alt="Image 3"
                            height="380px" width="380px"></div>
                    <h4>Search on any device</h4>
                    <p>AutoValue works well in your browser - on any device. This
                        means you
                        get the full power of AutoTempest on your phone, tablet, laptop or desktop. </p>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
<footer class="bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">AutoValue. All Rights Reserved &copy; 2023</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock %}