{% extends "base.html" %}
{% block link %}<link rel="stylesheet" href="{{url_for('static',filename='signup_styles.css')}}">{% endblock %}
{% block content %}
<div class="logo">
    <img src="your-logo.png" alt="Website Logo" width="100" height="100">
</div>

<div class="signup-form">
    
    <h1>Sign Up</h1>
    <form method="POST">
        <input class="form-input" type="text" placeholder="Full Name" name="fullName" id="fullName" required>
        <input class="form-input" type="email" placeholder="Email" name="email" id="email" required>
        <input class="form-input" type="password" placeholder="Password" name="password" id="password" required>
        <input class="form-input" type="password" placeholder="Confirm Password" name="cpassword" id="cpassword" required>
        <button class="form-button" type="submit">Submit</button>
    </form>
</div>
{% endblock %}