@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
a{
    text-decoration: none;
}
.car-container ul{
    list-style-type: none;
}

.car-container ul li:not(:first-child) {
    /* Your styles for list items after the first child go here */
    list-style-type: disc;
}
footer{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: large;
}


@media(max-width: 800px) {
    .car-container{
        width: 350px;
        font-size: small;
    }
    .car-container h5{
        font-size: medium;
    }
    footer{
        padding-top: 1.0rem;
        padding-bottom: 1.0rem;
        font-size: small;
    }

    
}